
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

.container__main {
background-color: aqua;
width: 100em;
height: 40em;
margin: 0 auto;
position: relative;
margin-top: 5em;


}

.container_child {
    
  position: relative;
  top: 6em;
  background-color: white;
  width: 25em;
  height: 28em;
  margin: 0 auto;
  border-radius: 25px;
}

.images_bubbles {
  width: 25em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.container_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
position: relative;
bottom: 4.2em;
  border-radius: 90px;
  border: solid white 3px;
  width: 8em;
  height: 8em;
}

.name_avatar{
    position: relative;
    bottom: 3em;
}
.data_avatar{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

hr{
    color: gray;
}

h3{display: flex;
justify-content: center;
position: relative;
bottom: 15px;
color: gray;
}

.data_avatar h2{
    color: gray;
    margin-left: 1em;
}


.data{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5em;
    position: relative;
    top: 2em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    
}

.data_social_1 {
 font-size: 11px;
 margin-top: 20px;
 color: gray;
}


.data_social_2 {
    font-size: 11px;
    margin-top: 20px;
    color: gray;
   }

   .data_social_3 {
    font-size: 11px;
    margin-top: 20px;
    color: gray;
   }

.attribution {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


/* MEDIAS*/

@media (min-width: 375px) and (max-width:667px){
    .container__main {
        background-color: aqua;
        width: 20em;
        height: 35em;
        position: relative;
        margin-top: 2em;

        }

        .container_child {
    
            position: relative;
            top: 3.5em;
            background-color: white;
            width: 20em;
            height: 26em;
            margin: 0 auto;
            border-radius: 27px;
          }
          
          .images_bubbles {
            width: 20em;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
          }
          
          .container_avatar {
            display: flex;
            justify-content: center;
            align-items: center;
          }

}
 